pydantic==2.5.3
llama-cpp-agent==0.1.4
concurrent-log-handler==0.9.24
httpx==0.24.1
asyncio==3.4.3
gradio==3.40.0
gptcache==0.1.4
python-dotenv==1.0.0
fastapi==0.100.1
uvicorn==0.23.2
nltk
scikit-learn
torch
psutil
wget
Pillow
stable-diffusion-cpp-python
imageio
